@page "/converter"




<PageTitle>Home</PageTitle>

<h1>Enhetskonvertering</h1>
<div class="form-container">
    <h2>Meter till Fot</h2>
    <label for="meter">Meter</label>
    <input type="number" id="meter" @bind="inputMeter">

    <button @onclick="ConvertToFeet">Konvertera</button>
    <p>@outputFeet</p>
</div>
<div class="form-container">
    <h2>Fot till Meter</h2>
    <label for="feet">Fot</label>
    <input type="number" id="feet" @bind="inputFeet">

    <button @onclick="ConvertToMeter">Konvertera</button>
    <p>@outputMeter</p>
</div>

<div class="form-container">
    <h2>Kilometer i timmen till Miles i timmen</h2>
    <label for="meter">Meter</label>
    <input type="number" id="meter" @bind="inputKPH">

    <button @onclick="ConvertToMPH">Konvertera</button>
    <p>@outputMPH</p>
</div>
<div class="form-container">
    <h2>Miles i timmen till Kilometer i timmen</h2>
    <label for="feet">Fot</label>
    <input type="number" id="feet" @bind="inputMPH">

    <button @onclick="ConvertToKPH">Konvertera</button>
    <p>@outputKPH</p>
</div>

@code {

    private double? inputMeter { get; set; }
    private double? inputFeet { get; set; }
    private string? outputMeter { get; set; }
    private string? outputFeet { get; set; }


    void ConvertToFeet()
    {
        if (inputMeter.HasValue && inputMeter.Value != 0)
        {
            double temp = Math.Round((double)(inputMeter * 3.28084), 2);
            outputFeet = $"{inputMeter} meter = {temp.ToString()} fot";
        }
        else
        {
            outputFeet = "Skriv in en siffra som inte 채r 0";
        }

    }

    void ConvertToMeter()
    {
        if (inputFeet.HasValue && inputFeet.Value != 0)
        {

            double temp = Math.Round((double)(inputFeet / 3.28084), 2);
            outputMeter = $"{inputFeet} fot = {temp.ToString()} meter";
        }

        else
        {
            outputMeter = "Skriv in en siffra som inte 채r 0";
        }
    }

}

@code {

    private double? inputKPH { get; set; }
    private double? inputMPH { get; set; }
    private string? outputKPH { get; set; }
    private string? outputMPH { get; set; }


    void ConvertToMPH()
    {
        if (inputKPH.HasValue && inputKPH.Value != 0)
        {
            double temp = (inputKPH.Value * 0.621371);
            int tempRounded = (int)Math.Round(temp);
            outputMPH = $"{inputKPH} km/h = {tempRounded.ToString()} mph";
        }
        else
        {
            outputMPH = "Skriv in en siffra som inte 채r 0";
        }
    }

    void ConvertToKPH()
    {
        if (inputMPH.HasValue && inputMPH.Value != 0)
        {
            double temp = (inputMPH.Value * 1.60934);
            int tempRounded = (int)Math.Round(temp);
            outputKPH = $"{inputMPH} mph = {tempRounded.ToString()} km/h";
        }
        else
        {
            outputKPH = "Skriv in en siffra som inte 채r 0";
        }
    }

}