
<article>
    <h2>Uppgiften</h2>
    <p>Denna Webbplats är del 2 av 2 i kursen Webbutveckling i .NET, Moment 1 - Grunderna i .NET</p>
    <p>I denna uppgift går ut på att skapa en enklare webbplats med ASP.net Core, även kallat Razor Pages.</p>

    <p><b>Webbplatsen ska innehålla följande undersidor:</b></p>
    <ul>
        <li>Startsida: med valfri information</li>
        <li>Konvertering: en enhetsomvandlare för olika enheter.</li>
        <li>JSON - data som hämtas dynamiskt och skrivs ut till skärmen</li>
    </ul>
</article>
<article>
    <h2>Min lösning</h2>
    <p>Enhetsomvandlaren kortar ner längdenheterna till 2 decimalers noggranhet. Den avrundar också hastigheterna till
        närmaste heltal. If/else-satser används också för att kontrollera inmatningar och skriva ut felmeddelanden.</p>
    <p>JSON-data hämtas från min egen API skapad med TypeScript I Nest.Js. API-servern hämtar i tur data från en
        MySQL-server.</p>
</article>
